<div class="event">
    <div>
        <div class="event_container">
            <div class="circle"></div>
            @* <p class="date">@appointment.StartTime.ToString("hh:mm tt")</p> *@
            <p class="date">00:00</p>
            <div class="subject_container">
                <p class="subject">Light On</p>
            </div>
            <p class="room">Room 01</p>
        </div>
        <div class="event_container">
            <svg class="caption_icon" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.97317 1.11587L3.8712 0.199951L0 4.86543L3.8712 9.5309L4.97317 8.61498L1.86047 4.86543L4.97317 1.11587ZM4.42218 5.58099H5.85331V4.14986H4.42218V5.58099ZM11.5778 4.14986H10.1467V5.58099H11.5778V4.14986ZM7.28444 5.58099L8.71556 5.58099V4.14986H7.28444V5.58099ZM12.1288 0.199951L11.0268 1.11587L14.1395 4.86543L11.0268 8.61498L12.1288 9.5309L16 4.86543L12.1288 0.199951Z" fill="#15AABF"/>
            </svg>
            <p class="caption">Run on Weekday</p>
        </div>
    </div>
    <div>
        <div class="event_container">
            <div class="circle"></div>
            @* <p class="date">@appointment.StartTime.ToString("hh:mm tt")</p> *@
            <p class="date">00:00</p>
            <div class="subject_container">
                <p class="subject">Light On</p>
            </div>
            <p class="room">Room 01</p>
        </div>
        <div class="event_container">
            <svg class="caption_icon" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.97317 1.11587L3.8712 0.199951L0 4.86543L3.8712 9.5309L4.97317 8.61498L1.86047 4.86543L4.97317 1.11587ZM4.42218 5.58099H5.85331V4.14986H4.42218V5.58099ZM11.5778 4.14986H10.1467V5.58099H11.5778V4.14986ZM7.28444 5.58099L8.71556 5.58099V4.14986H7.28444V5.58099ZM12.1288 0.199951L11.0268 1.11587L14.1395 4.86543L11.0268 8.61498L12.1288 9.5309L16 4.86543L12.1288 0.199951Z" fill="#15AABF"/>
            </svg>
            <p class="caption">Run on Weekday</p>
        </div>
    </div>
    <div>
        <div class="event_container">
            <div class="circle"></div>
            @* <p class="date">@appointment.StartTime.ToString("hh:mm tt")</p> *@
            <p class="date">00:00</p>
            <div class="subject_container">
                <p class="subject">Light On</p>
            </div>
            <p class="room">Room 01</p>
        </div>
        <div class="event_container">
            <svg class="caption_icon" width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.97317 1.11587L3.8712 0.199951L0 4.86543L3.8712 9.5309L4.97317 8.61498L1.86047 4.86543L4.97317 1.11587ZM4.42218 5.58099H5.85331V4.14986H4.42218V5.58099ZM11.5778 4.14986H10.1467V5.58099H11.5778V4.14986ZM7.28444 5.58099L8.71556 5.58099V4.14986H7.28444V5.58099ZM12.1288 0.199951L11.0268 1.11587L14.1395 4.86543L11.0268 8.61498L12.1288 9.5309L16 4.86543L12.1288 0.199951Z" fill="#15AABF"/>
            </svg>
            <p class="caption">Run on Weekday</p>
        </div>
    </div>
</div>


@code {

}