<div class="astro-legend">
    <div class="astro-legend-item">
        <img src="images/sunrise.svg" class="sunrise" />
        <p>06:15 AM</p>
    </div>
    <div class="astro-legend-item">
        <img src="images/midday.svg" class="midday" />
        <p>12:15 PM</p>
    </div>
    <div class="astro-legend-item">
        <img src="images/sunset.svg" class="sunset" />
        <p>06:12 PM</p>
    </div>
</div>