<div class="calendar_header">
    <div class="left_options">
        <button class="primary_button ">ALL RELEASES</button>
    </div>
    <div class="center_options">
        <button class="icon_button calendar">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.04 1.45455H13.76C14.552 1.45455 15.2 2.10909 15.2 2.90909V14.5455C15.2 15.3455 14.552 16 13.76 16H2.24002C1.44802 16 0.800021 15.3455 0.800021 14.5455V2.90909C0.800021 2.10909 1.44802 1.45455 2.24002 1.45455H2.96002V0L4.40002 0V1.45455H11.6V0L13.04 0V1.45455ZM2.24007 14.5456H13.7601V5.09102H2.24007V14.5456Z" fill="#22282F"/>
            </svg>
        </button>
        <button class="icon_button list">
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.52001C0 0.789612 0.57946 0.200012 1.2973 0.200012C2.01514 0.200012 2.5946 0.789612 2.5946 1.52001C2.5946 2.25041 2.01514 2.84001 1.2973 2.84001C0.57946 2.84001 0 2.25041 0 1.52001ZM0 6.80002C0 6.06962 0.57946 5.48002 1.2973 5.48002C2.01514 5.48002 2.5946 6.06962 2.5946 6.80002C2.5946 7.53042 2.01514 8.12002 1.2973 8.12002C0.57946 8.12002 0 7.53042 0 6.80002ZM1.2973 10.76C0.57946 10.76 0 11.3584 0 12.08C0 12.8016 0.588108 13.4 1.2973 13.4C2.00649 13.4 2.5946 12.8016 2.5946 12.08C2.5946 11.3584 2.01514 10.76 1.2973 10.76ZM16 12.96H3.89189V11.2H16V12.96ZM3.89189 7.68004H16V5.92004H3.89189V7.68004ZM3.89189 2.40003V0.640033H16V2.40003H3.89189Z" fill="#22282F"/>
            </svg>
        </button>
    </div>
    <div class="right_options">
        <select class="primary_button">
            <option value="" disabled>MONTH</option>
            <option value="">JANUARY</option>
            <option value="">FEBRUARY</option>
        </select>
        <div class="arrows">
            <button class="icon_button arrow_left">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.94 1.88L3.83333 8L9.94 14.12L8.06 16L0.0599976 8L8.06 0L9.94 1.88Z" fill="#22282F"/>
                </svg>
            </button>
            <button class="icon_button arrow_right">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 14.12L6.18084 8L0 1.88L1.90283 0L10 8L1.90283 16L0 14.12Z" fill="#22282F"/>
                </svg>
            </button>
        </div>
        <p class="date_text">february 2020</p>
    </div>
</div>

@code {

}