@page "/counter"
@using Demos.Sf.Services
@inject BrowserService Service

<h1>Window Dimensions</h1>

<p>Window Height: @Height</p>
<p>Window Width: @Width</p>

<button @onclick="GetDimensions">Get Dimensions</button>

@if (Width <= 768)
{
    <MobileCalendarComponen></MobileCalendarComponen>
}
else
{
    <CalendarComponent></CalendarComponent>
}

@code {
    public int Height { get; set; }
    public int Width { get; set; }

    async Task GetDimensions() {
        var dimension = await Service.GetDimensions();
        Height = dimension.Height;
        Width = dimension.Width;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetDimensions();
    }
}